node_modules/
out/
coverage/
.parcel-cache/
* copy.ts
*/dev-dist/*
**/out-sw/*

**/tsconfig.tsbuildinfo
**/*.test.json
lerna-debug.log
example/client/dev-dist/registerSW.js
packages/key/testkey.spec.json
